@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(/font/OpenSans/OpenSans-Regular.ttf);
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(/font/Roboto/Roboto-Regular.ttf);
}

html {
  --chrome-blue: rgb(77, 144, 254);
  --dark-blue: rgb(0, 120, 206);
  --light-blue: rgb(150, 207, 247);
  --light-gray: rgb(198, 203, 206);
  --vscode-gray: rgb(30,30,30);
  
  --default-main-color: var(--dark-blue);
  --default-border-color: var(--light-blue);
  --default-placeholder-color: var(--light-gray);
  --default-focus-color: var(--chrome-blue);
  --default-background-color: white;
  --default-transparent-background-color: rgba(255,255,255, .9);
  
  --main-color: var(--default-main-color);
  --border-color: var(--default-border-color);
  --placeholder-color: var(--default-placeholder-color);
  --focus-color: var(--default-focus-color);
  --background-color: var(--default-background-color);
  --transparent-background-color: var(--default-transparent-background-color);


  --default-border: 1px solid var(--border-color);
  --default-space: 5px;


  font-family: 'Open Sans', sans-serif;
  font-size: 16px;

  color: var(--main-color);
  background-color: var(--background-color);

  overflow: hidden;
}

body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  border: 0;
}

* {
  box-sizing: border-box;
}

::-webkit-input-placeholder {
  color: var(--placeholder-color);
}

:focus {
  outline: 2px solid var(--focus-color);
  outline-offset: -2px;
}

input,
select,
textarea,
button {
  -webkit-appearance: none;
  border: var(--default-border);
  padding: var(--default-space);
  font: inherit;
  color: inherit;
  background-color: inherit;
}

input[type=button], button {
  border: var(--default-border);
}

input[type=button]:hover, button:hover {
  border-color: var(--main-color);
}

input[type=button]:active, button:active {
  background-color: var(--main-color);
  color: var(--background-color);
}

.box {
  display: inline-block;
  border: var(--default-border);
  padding: var(--default-space);
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}


hr {
  width: 100%;
  border-top: var(--default-border);
  margin: var(--default-space) 0;
}

.burst {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}




ce-window {
  border: var(--default-border);
  background-color: var(--transparent-background-color);
  display: grid;
  grid-template-rows: 31px 1fr;
  width: max-content;
  
}

ce-window > .ce-window-handlebar {
  display: grid;
  grid-template-columns: 20px 20px 1fr;
  grid-gap: 3px;
  padding: var(--default-space);
  border-bottom: var(--default-border);
  background-color: var(--background-color);
}

ce-window
> .ce-window-handlebar
> .ce-window-button {
  font-size: 20px;
  line-height: 0;
  width: 20px;
  height: 20px;
  padding: 0;
}

ce-window
> .ce-window-handlebar
> .ce-window-title {
  line-height: 20px;
  height: 20px;
}

ce-window
> .ce-window-content {
  overflow: auto;
  padding: var(--default-space);
  padding-top: 0;
}